/* Hm Hm*/
html,
html * {
  box-sizing: border-box; }

.static {
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: absolute;
  z-index: 2;
  border: 1px dotted lime;
  pointer-events: none; }

h1 {
  pointer-events: auto; }

.default {
  color: #bdbddb;
  background-color: #242442; }

h1 {
  color: white; }

html {
  background-color: #323232; }

html {
  font-family: Roboto, sans-serif; }

